* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: burlywood;
  
}
nav {
  padding: 20px 10%;
  height: 15vh;
  font-size: 20px;
 
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 5%;
  font-weight: 600;
}
nav ul li img {
  width: 100px;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftmain {
  width: 40%;
}
.leftmain h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  
}
.leftmain p {
  margin: 5% 0;
}
.leftmain button {
  padding: 15px 20px;
  font-size: 18px;
  color: white;
  font-weight: 600;
  border: none;
  background: #068080;
  border-radius: 10px;
}
.rightmain {
  transform: translate(25%, 7%);

}
.rightmain div img {
  width: 30%;
  transform: scale(110%);
}
.rightmain div img:first-child {
  margin-right: 30px;
  transform: scale(110%);
}
.rightmain div {
  margin-bottom: 30px;
}
.rightmain > img {
  width: 64%;
  transform: scale(110%);
}
